
<div class="gamelist_div">
    <a href="/gamelist/create">Create a New List</a>
    <h2>{{user.firstName}}'s Game Lists</h2>
</div>
<ul class="gamelist_ul">
    {{#each userLists}}
        <li>
            <h3>{{this.name}}</h3>
            <p>{{this.description}}</p>
            <a href="/gamelist/{{this._id}}">View List</a> 
        </li>
    {{/each}}
</ul>
