/*This file should have 10 CSS rulesets */
html{
    background-color: rgb(185, 183, 183);
}
.getResultImage{
    width: 150px;
    height: 234px;
}
h1{
    font-size: xx-large;
    
}
h2{
    text-decoration: underline;
}
h3{
    text-decoration: underline;
}
img{
    width: 75px;
    height: 117px;
}
dt{
    font-weight: bold;
   
}
p.error{
    color: red;
    font-size: xx-large;
}
.movie_not_found{
    color: red;
    font-size: xx-large;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}
.myForm {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .stars {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse; /* this is the magic */
    justify-content: flex-end;
  }
  
  .stars input {
    display: none;
  }
  
  .stars label {
    font-size: 24px;
    cursor: pointer;
  }
  
  .stars label:hover,
  .stars label:hover ~ label { /* reason why the stars are in reverse order in the html */
    color: orange;
  }
  
  .stars input:checked ~ label {
    color: orange;
  }
  
  .review {
    margin-bottom: 20px;
  }
  
  .review textarea {
    width: 150px;
    height: 100px;
  }